<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            table {
                border-collapse: collapse;
            }

            th,
            td {
                border: 1px #333 solid;
                padding: 0 5px;
            }

            th {
                background-color: #bfe9d2;
            }
        </style>
    </head>
    <body>
        <h1>koukoku.shadan.open.ad.jp bot for c30</h1>
        <div>
            <p>telnet koukoku.shadan.open.ad.jpに接続してください。</p>
            <a href="/messages"
                >メッセージリストは権利的などの問題から廃止されました。</a
            >
        </div>

        <div>
            <p>コマンドリスト</p>
            <table>
                <tr>
                    <th>コマンド</th>
                    <th>説明</th>
                </tr>
                <% commands.forEach((value, key) => { %>
                <tr>
                    <td><%= value.name %></td>
                    <td><%= value.description %></td>
                </tr>
                <% }); %>
            </table>
        </div>

        <div>
            <p>メッセージに反応するもの</p>
            <table>
                <tr>
                    <th>テキスト</th>
                    <th>説明</th>
                </tr>
                <% handleMessages.forEach((value, key) => { %>
                <tr>
                    <td><%= value.name %></td>
                    <td><%= value.description %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </body>
</html>
